{% extends '::base.html.twig' %}
{% block nav_left %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('app_homepage') }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
    </ul>
{% endblock %}

{% block title %}{{ travel.name }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ travel.name }}</h3>
                </div>
                <div class="panel-body">
                    <p>{{ travel.summary }}</p>
                    <p>{{ travel.dateStart|date("d/m/Y") }} {% if travel.dateEnd %} - {{ travel.dateEnd|date("d/m/Y") }}{% endif %}</p>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('app_travel_edit', { 'travel': travel.id }) }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app_travel_delete', { 'travel': travel.id }) }}">Supprimer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% if steps %}
                {% for step in steps %}
                    {% set template = '@App/step/' ~ step.dtype ~ '/view.html.twig' %}
                    {% include template ignore missing with { 'step': step } %}
                {% endfor %}
            {% else %}
                <p>Ce voyage n'a pas encore d'étape, commencez par <a href="{{ path('app_step_new', { 'travel': travel.id, 'type': 'transportation' }) }}">ajouter un transport</a> !</p>
            {% endif %}

            <div class="btn-group" role="group" aria-label="...">
                <a href="{{ path('app_step_new', { 'travel': travel.id, 'type': 'transportation' }) }}" class="btn btn-default btn-sm">Ajouter une étape de transport</a>
                <a href="{{ path('app_step_new', { 'travel': travel.id, 'type': 'accomodation' }) }}" class="btn btn-default btn-sm">Ajouter une étape de logement</a>
            </div>
        </div>
    </div>
{% endblock %}
