{% extends '@App/step/view.html.twig' %}

{% block step_informations %}
<ul class="list-group">
    {% if step.dateStart %}<li class="list-group-item">{{ 'entities.step.accomodation.info.date_start'|trans }} <strong>{{ step.dateStart|localizeddate('long', 'short') }}</strong></li>{% endif %}
    {% if step.dateEnd %}<li class="list-group-item">{{ 'entities.step.accomodation.info.date_end'|trans }} <strong>{{ step.dateEnd|localizeddate('long', 'short') }}</strong></li>{% endif %}
    {% if step.type %}<li class="list-group-item">{{ 'entities.step.accomodation.info.type'|trans }} : <strong>{{ ('entities.step.accomodation.types.'~step.type)|trans }}</strong></li>{% endif %}
    {% if step.price %}<li class="list-group-item">{{ 'entities.step.accomodation.info.price'|trans }} : <strong>{{ step.price|localizedcurrency('EUR') }}</strong></li>{% endif %}
</ul>
{% endblock %}