{% extends '::base.html.twig' %}
{% block nav_left %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('app_travel_view', { 'travel': travel.id } ) }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
    </ul>
{% endblock %}

{% block title %}{{ 'actions.delete'|trans }} // {{ travel.name }}{% endblock %}

{% block main %}
    <h2>{{ 'entities.step.delete'|trans({'%name%': step.name}) }}</h2>
    <p>{{ 'entities.step.delete_confirm'|trans }}</p>
    <p>
        <a href="{{ path('app_travel_view', { 'travel': travel.id } ) }}" class="btn btn-default">{{ 'actions.cancel'|trans }}</a>
        <a href="{{ path('app_step_delete', { 'step': step.id, 'travel': travel.id, 'confirm': true }) }}" class="btn btn-danger">{{ 'actions.delete'|trans }}</a>
    </p>
{% endblock %}