{% extends '::base.html.twig' %}
{% block nav_left %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('app_travel_view', { 'travel': travel.id } ) }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
    </ul>
{% endblock %}

{% block title %}Modifier // {{ step.name }}{% endblock %}

{% block main %}
    <h2>Modifier "{{ step.name }}"</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h3>Fichiers <a href="{{ path('app_attachment_new_step', {'step': step.id, 'travel': travel.id}) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus"></i></a></h3>
    {% if step.attachments is not empty %}
        <ul class="list-group">
            {% for attachment in step.attachments %}
                <li class="list-group-item">
                    {{ attachment.attachment.name }}
                    <div class="btn-group fr" role="group" aria-label="...">
                        <a href="{{ path('app_attachment_download', { 'attachment': attachment.attachment.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-save"></i></a>
                        <a href="{{ path('app_attachment_edit', { 'attachment': attachment.attachment.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="{{ path('app_attachment_delete', { 'attachment': attachment.attachment.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Il n'y a pas encore de fichier, <a href="{{ path('app_attachment_new_step', {'step': step.id, 'travel': travel.id}) }}">importe le premier</a>.</p>
    {% endif %}
{% endblock %}