{% if steps %}
    {% set display_step = app.request.query.get('display_step') ? app.request.query.get('display_step') : steps[0].id %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for step in steps %}
        {% set template = '@App/step/' ~ step.dtype ~ '/view.html.twig' %}
        {% include template ignore missing %}
    {% endfor %}
    </div>
{% else %}
    <p>{{ 'entities.step.nothing'|trans({'%link_start%': '<a href="'~path('app_step_new', { 'travel': travel.id, 'type': 'transportation' })~'">', '%link_end%': '</a>'})|raw }}</p>
{% endif %}

<div class="btn-group" role="group" aria-label="...">
    <a href="{{ path('app_step_new', { 'travel': travel.id, 'type': 'transportation' }) }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;{{ 'entities.step.transportation.name'|trans }}</a>
    <a href="{{ path('app_step_new', { 'travel': travel.id, 'type': 'accomodation' }) }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;{{ 'entities.step.accomodation.name'|trans }}</a>
    <a href="{{ path('app_step_new', { 'travel': travel.id, 'type': 'tour' }) }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;{{ 'entities.step.tour.name'|trans }}</a>
</div>