<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{ step.id }}">
        <div class="btn-group fr" role="group" aria-label="...">
            <a href="{{ path('app_step_edit', { 'step': step.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="{{ path('app_step_delete', { 'step': step.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <h3 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ step.id }}" aria-expanded="false" aria-controls="collapseTwo">
                <i class="icon-step {{ step.dtype }} {{ step.type }}"></i>&nbsp;&nbsp;
                {{ step.name }}
            </a>
        </h3>
    </div>
    <div id="collapse-{{ step.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ step.id }}">
        {% block step_informations %}{% endblock %}

        {% if step.summary %}
            <div class="panel-body">
                <h4>Informations</h4>
                <p>{{ step.summary|raw }}</p>
            </div>
        {% endif %}

        {% if step.attachments is not empty %}
            <ul class="list-group">
                {% for attachment in step.attachments %}
                    <li class="list-group-item">
                        {{ attachment.attachment.name }}
                        <div class="btn-group fr" role="group" aria-label="...">
                            <a href="{{ path('app_attachment_download', { 'attachment': attachment.attachment.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-save"></i></a>
                            <a href="{{ path('app_attachment_edit', { 'attachment': attachment.attachment.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="{{ path('app_attachment_delete', { 'attachment': attachment.attachment.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>