<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{ step.id }}">
        <div class="btn-group fr" role="group" aria-label="...">
            <a href="{{ path('app_step_edit', { 'step': step.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'actions.edit'|trans }}"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="{{ path('app_step_delete', { 'step': step.id, 'travel': travel.id }) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'actions.delete'|trans }}"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <h3 class="panel-title">
            <a class="{% if display_step == step.id %} collapsed{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ step.id }}" aria-expanded="true" aria-controls="collapse-{{ step.id }}">
                <i class="icon-step {{ step.dtype }} {{ step.type }}"></i>&nbsp;&nbsp;
                {{ step.name }}
            </a>
        </h3>
    </div>
    <div id="collapse-{{ step.id }}" class="panel-collapse collapse{% if display_step == step.id %} in{% endif %}" role="tabpanel" aria-labelledby="heading-{{ step.id }}">
        <div class="panel-body">
            <h4>{{ 'entities.step.infos'|trans }}</h4>
            {% if step.summary %}
                <p>{{ step.summary|raw }}</p>
            {% endif %}
        </div>

        {% block step_informations %}{% endblock %}

        {% include '@App/attachment/list.html.twig' with {'attachments': step.attachments, 'travel': travel, 'editable': false } %}
    </div>
</div>