<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group fr" role="group" aria-label="...">
            <a href="{{ path('app_step_edit', { 'travel': travel.id, 'step': step.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('app_step_delete', { 'travel': travel.id, 'step': step.id }) }}">Supprimer</a></li>
            </ul>
        </div>
        <h3 class="panel-title">
            [{{ step.type }}] {{ step.name }}
        </h3>
    </div>
    <div class="panel-body">
        <p>{{ step.summary }}</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Départ le <strong>{{ step.dateStart|date('d/m/Y') }}</strong> à <strong>{{ step.dateStart|date('H:i') }}</strong></li>
        <li class="list-group-item">Arrivée le <strong>{{ step.dateEnd|date('d/m/Y') }}</strong> à <strong>{{ step.dateEnd|date('H:i') }}</strong></li>
        <li class="list-group-item">Moyen de transport : <strong>{{ step.type }}</strong></li>
        <li class="list-group-item">Prix : <strong>{{ step.price }} €</strong></li>
    </ul>
</div>