{% extends '@App/step/view.html.twig' %}

{% block step_informations %}
    <ul class="list-group">
        {% if step.dateStart %}<li class="list-group-item">Départ le <strong>{{ step.dateStart|date('d/m/Y') }}</strong> à <strong>{{ step.dateStart|date('H:i') }}</strong></li>{% endif %}
        {% if step.dateEnd %}<li class="list-group-item">Arrivée le <strong>{{ step.dateEnd|date('d/m/Y') }}</strong> à <strong>{{ step.dateEnd|date('H:i') }}</strong></li>{% endif %}
        {% if step.price %}<li class="list-group-item">Prix : <strong>{{ step.price }} €</strong></li>{% endif %}
    </ul>
{% endblock %}