{% extends '@App/step/view.html.twig' %}

{% block step_informations %}
<ul class="list-group">
    <li class="list-group-item">Arrivée le <strong>{{ step.dateStart|date('d/m/Y') }}</strong> à <strong>{{ step.dateStart|date('H:i') }}</strong></li>
    <li class="list-group-item">Départ le <strong>{{ step.dateEnd|date('d/m/Y') }}</strong> à <strong>{{ step.dateEnd|date('H:i') }}</strong></li>
    <li class="list-group-item">Type : <strong>{{ step.type }}</strong></li>
    <li class="list-group-item">Prix : <strong>{{ step.price }} €</strong></li>
</ul>
{% endblock %}