{% extends '::base.html.twig' %}
{% block nav_left %}
    {% set step = app.request.get('step') %}
    <ul class="nav navbar-nav">
        {% if step %}
            <li><a href="{{ path('app_step_edit', { 'travel': travel.id, 'step': step } ) }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
        {% else %}
            <li><a href="{{ path('app_travel_view', { 'travel': travel.id } ) }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block title %}{{ 'actions.edit'|trans }} // {{ attachment.name }}{% endblock %}

{% block main %}
    <h2>{{ 'entities.attachments.edit'|trans({'%name%': attachment.name}) }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}