{% extends '::base.html.twig' %}
{% block nav_left %}
    <ul class="nav navbar-nav">
    {% if step is defined %}
        <li><a href="{{ path('app_step_edit', { 'travel': travel.id, 'step': step.id } ) }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
    {% else %}
        <li><a href="{{ path('app_travel_view', { 'travel': travel.id } ) }}"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
    {% endif %}
    </ul>
{% endblock %}

{% block title %}{{ 'entities.attachments.add'|trans }} // {{ step.name }}{% endblock %}

{% block main %}
    <h2>{{ 'entities.attachments.add'|trans }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}